.viewer-sizenav-label {
	padding: 0 12px;
}
.subsection-safety .overview-safety-safety-bg {
	background-image: url(/in/iphone-15-pro/images/overview/safety/safety__e3szr7wtega6_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.subsection-safety .overview-safety-safety-bg {
		background-image: url(/in/iphone-15-pro/images/overview/safety/safety__e3szr7wtega6_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.subsection-safety .overview-safety-safety-bg {
		background-image: url(/in/iphone-15-pro/images/overview/safety/safety__e3szr7wtega6_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.subsection-safety .overview-safety-safety-bg {
		background-image: url(/in/iphone-15-pro/images/overview/safety/safety__e3szr7wtega6_medium_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.subsection-safety .overview-safety-safety-bg {
		background-image: url(/in/iphone-15-pro/images/overview/safety/safety__e3szr7wtega6_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.subsection-safety .overview-safety-safety-bg {
		background-image: url(/in/iphone-15-pro/images/overview/safety/safety__e3szr7wtega6_small_2x.jpg);
	}
}
.section-highlights [data-component-list*="HighlightsGallery"] .media-gallery .item-container .media-gallery-item-action-button .positioned-media-element.static {
	background-image: url(/in/iphone-15-pro/images/overview/highlights/action_button__c3sv55bcbyeu_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.section-highlights [data-component-list*="HighlightsGallery"] .media-gallery .item-container .media-gallery-item-action-button .positioned-media-element.static {
		background-image: url(/in/iphone-15-pro/images/overview/highlights/action_button__c3sv55bcbyeu_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-highlights [data-component-list*="HighlightsGallery"] .media-gallery .item-container .media-gallery-item-action-button .positioned-media-element.static {
		background-image: url(/in/iphone-15-pro/images/overview/highlights/action_button__c3sv55bcbyeu_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-highlights [data-component-list*="HighlightsGallery"] .media-gallery .item-container .media-gallery-item-action-button .positioned-media-element.static {
		background-image: url(/in/iphone-15-pro/images/overview/highlights/action_button__c3sv55bcbyeu_medium_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.section-highlights [data-component-list*="HighlightsGallery"] .media-gallery .item-container .media-gallery-item-action-button .positioned-media-element.static {
		background-image: url(/in/iphone-15-pro/images/overview/highlights/action_button__c3sv55bcbyeu_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.section-highlights [data-component-list*="HighlightsGallery"] .media-gallery .item-container .media-gallery-item-action-button .positioned-media-element.static {
		background-image: url(/in/iphone-15-pro/images/overview/highlights/action_button__c3sv55bcbyeu_small_2x.jpg);
	}
}
.section-highlights [data-component-list*="HighlightsGallery"] .media-gallery .item-container .media-gallery-item-chip .positioned-media-element.endframe {
	background-image: url(/in/iphone-15-pro/images/overview/highlights/video/highlights_chip_endframe__3159yn2mzkyi_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.section-highlights [data-component-list*="HighlightsGallery"] .media-gallery .item-container .media-gallery-item-chip .positioned-media-element.endframe {
		background-image: url(/in/iphone-15-pro/images/overview/highlights/video/highlights_chip_endframe__3159yn2mzkyi_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-highlights [data-component-list*="HighlightsGallery"] .media-gallery .item-container .media-gallery-item-chip .positioned-media-element.endframe {
		background-image: url(/in/iphone-15-pro/images/overview/highlights/video/highlights_chip_endframe__3159yn2mzkyi_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-highlights [data-component-list*="HighlightsGallery"] .media-gallery .item-container .media-gallery-item-chip .positioned-media-element.endframe {
		background-image: url(/in/iphone-15-pro/images/overview/highlights/video/highlights_chip_endframe__3159yn2mzkyi_medium_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.section-highlights [data-component-list*="HighlightsGallery"] .media-gallery .item-container .media-gallery-item-chip .positioned-media-element.endframe {
		background-image: url(/in/iphone-15-pro/images/overview/highlights/video/highlights_chip_endframe__3159yn2mzkyi_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.section-highlights [data-component-list*="HighlightsGallery"] .media-gallery .item-container .media-gallery-item-chip .positioned-media-element.endframe {
		background-image: url(/in/iphone-15-pro/images/overview/highlights/video/highlights_chip_endframe__3159yn2mzkyi_small_2x.jpg);
	}
}
@media only screen and (max-width: 734px) {
	.section-closer-look .all-access-pass__container .all-access-pass .viewer-sizenav-label {
		padding: 0 8px;
		text-align: center;
		font-size: 14px;
	}
}
@media only screen and (min-width: 735px) {
	.page-overview .trade-in-ribbon .ribbon-copy-avail {
		max-width: inherit;
		width: 100%;
	}
}

.footnote.footnote-supglyph.ribbon-font-increased {
	font-size: 19px;
	top: 0px;
	line-height: 0;
}
.typography-ribbon-avail {
	font-size: 14px;
	line-height: 1.1904761905;
	font-weight: 400;
	letter-spacing: 0.011em;
	font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
		sans-serif;
}

@media only screen and (max-width: 1068px) {
	.typography-ribbon-avail {
		font-size: 14px;
		line-height: 1.4211026316;
		font-weight: 400;
		letter-spacing: 0.012em;
		font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica,
			Arial, sans-serif;
	}
}

@media only screen and (max-width: 734px) {
	.typography-ribbon-avail {
		font-size: 12px;
		line-height: 1.3333733333;
		font-weight: 400;
		letter-spacing: -0.01em;
		font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
			sans-serif;
	}
}

@media only screen and (min-width: 735px) {
	.page-overview .trade-in-ribbon .ribbon-content-wrapper-avail {
		padding-top: 14px;
		padding-bottom: 14px;
	}
}
@media only screen and (max-width: 734px) {
	.page-overview .trade-in-ribbon .ribbon-content-wrapper-avail {
		padding: 9px 0;
	}
}
.ribbon {
	position: relative;
	z-index: 9998;
}
.camera-l2-wrapper .l2-section-spatial .spatial-video-area .copy-area-cta {
	text-align: center;
}
